<div class="columns is-desktop is-centered">
	<div class="column is-half">
		<h1 class="title is-2 has-text-centered">Login to the Ironbuddy platform</h1>
		<hr>
		<div class="box">
			<form action="/auth/login" method="POST">
				<div class="field">
					<label class="label">Email:</label>
					<div class="control has-icons-left">
						<input class="input" type="email" name="email" placeholder="mail@gmail.com">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
					</div>
				</div>
				<div class="field">
					<label class="label">Password:</label>
					<div class="control has-icons-left">
						<input class="input" type="password" name="password" placeholder="*******">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</div>
				</div>
				<input class="button is-fullwidth is-info" type="submit" value="Log in">
				<hr>
				<div class="field">
					<div class="control">
						<p class="link-cont">Don't have an account? <a class="link-marging-sides" href="signup">Sign up</a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>