<div class="columns is-desktop is-centered">
	<div class="column is-half">
		<h1 class="title is-2">Let's add something interesting</h1>
		<hr>
		<div class="box">
			<form action="/profile/addresources" method="POST">
				<div class="field">
					<label class="label">Name:</label>
					<div class="control">
						<input class="input" type="text" name="name" placeholder="Link/file name">
					</div>
				</div>

				<div class="field">
					<label class="label">Link:</label>
					<div class="control">
						<input class="input" type="text" name="url" placeholder="http://yourlink.com">
					</div>
				</div>

				<input class="button is-fullwidth is-info" type="submit" value="Add this">
			</form>
		</div>
	</div>
</div>