body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #1E2434; }

a {
  color: #23C2FF; }

.button {
  font-weight: bold; }

.elems-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.link-cont {
  display: flex;
  justify-content: center; }

.link-marging-sides {
  padding: 0 8px;
  font-weight: bold;
  text-decoration: underline; }
  .link-marging-sides:hover {
    text-decoration: none;
    color: #23C2FF; }

@media screen and (min-width: 1024px) {
  .navbar {
    min-height: 4.8rem; }
    .navbar-dropdown.profile {
      left: auto;
      right: 0; } }

.navbar-item,
.navbar-link {
  color: #1E2434; }

.navbar-brand img {
  max-height: 4.8rem; }

.section {
  background-color: #EDF0F6;
  min-height: calc(100vh - 93px); }

.table tr td.link,
.link {
  width: 43%;
  padding: 0 1%;
  position: relative; }
  .table tr td.link a,
  .link a {
    color: #3273dc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    z-index: 10;
    width: 100%; }

.table tr td.td-right {
  text-align: right; }

.ironbutton {
  font-size: 20px;
  color: #1E2434; }
  .ironbutton.danger {
    color: rgba(255, 56, 96, 0.4); }
    .ironbutton.danger:hover {
      color: #ff3860; }
  .ironbutton .fa-chevron-right {
    position: relative; }
    .ironbutton .fa-chevron-right:hover {
      right: -2px; }

.ironicon-top-right {
  position: absolute;
  right: 24px;
  top: 24px; }

.ironback {
  background-color: #EDF0F6;
  border-radius: 100%;
  padding: 12px;
  height: auto;
  width: auto; }
  .ironback > * {
    font-size: 2rem;
    color: rgba(30, 36, 52, 0.4); }
    .ironback > *:hover {
      color: #1E2434; }

.circle {
  display: inline-block;
  border-radius: 100%;
  height: auto; }
  .circle-48 {
    height: 48px;
    width: 48px; }

.picture {
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px; }
  .picture.x2 {
    height: 56px;
    width: 56px; }
  .picture.x4 {
    box-shadow: 0 4px 4px #23C2FF, 0 0 0 4px #23C2FF;
    margin: auto;
    height: 88px;
    width: 88px; }
  .picture.x8 {
    box-shadow: 0 4px 4px #23C2FF, 0 0 0 4px #23C2FF;
    margin: auto;
    height: 116px;
    width: 116px; }

a.picture:hover {
  box-shadow: 0 4px 4px #23C2FF, 0 0 0 4px #23C2FF; }

.box {
  position: relative; }
  .box .picture.x8 {
    margin: 4% auto; }
  .box .ironcenter {
    margin: 4% auto; }
    .box .ironcenter > * {
      text-align: center; }

a.box {
  position: relative;
  bottom: 0; }
  a.box:hover, a.box:focus {
    box-shadow: 0 2px 2px rgba(8, 8, 8, 0.1), 0 0 0 1px rgba(8, 8, 8, 0.1);
    bottom: 2px;
    border: 0; }

.is-blue {
  border: 0;
  background-color: rgba(35, 194, 255, 0.32);
  color: #3C97CB; }
  .is-blue:hover {
    background-color: #23C2FF;
    color: white; }

.name {
  margin-top: 10%;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold; }

.resource {
  display: block;
  margin: auto; }

.icon.resource {
  text-align: center;
  height: auto;
  width: auto; }
  .icon.resource .fa-plus-circle {
    font-size: 6rem;
    color: rgba(30, 36, 52, 0.2); }
    .icon.resource .fa-plus-circle:hover {
      color: #1e2434; }

.box.home {
  min-height: 342px; }

.title-home.title.is-2 {
  margin-bottom: 4%; }

.comment {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 4% auto; }
  .comment:nth-child(even) {
    flex-direction: row-reverse; }
  .comment-name {
    text-transform: capitalize;
    font-weight: bold; }
  .comment-pic {
    display: block;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    height: 32px;
    width: 32px; }
  .comments {
    position: relative; }
  .comment-user {
    display: flex;
    margin-left: 8px;
    justify-content: space-between;
    align-items: center;
    width: 100px; }
  .comment-content {
    background-color: rgba(35, 194, 255, 0.32);
    border-radius: 8px;
    padding: 4%;
    width: 80%;
    position: relative; }
  .comment:nth-child(odd):before {
    content: '';
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-right: 32px solid rgba(35, 194, 255, 0.32);
    border-bottom: 2px solid transparent;
    position: absolute;
    left: 92px;
    top: 24px; }
  .comment:nth-child(even):before {
    content: '';
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 32px solid rgba(35, 194, 255, 0.32);
    border-bottom: 2px solid transparent;
    position: absolute;
    right: 92px;
    top: 24px; }

.footer {
  background-color: #1E2434;
  color: #F6F7F7; }

/*# sourceMappingURL=style.css.map */